* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
#main{
    width: 100%;
    height: 100%;
    background-color: lightblue;
    background-image: url(https://plus.unsplash.com/premium_photo-1675448891283-5e084b37adea?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
}
#nav i{
    font-size: 30px;
    cursor: pointer;

}
#nav h2{
    font-size: 30px;

}
#full{
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    right: -30%;
    background-color: rgba(255, 255, 255, 0.468);
    backdrop-filter: blur(10px);
    padding: 150px 80px;
}
#full h4{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}
#full i{
    position: absolute;
    top: 5%;
    right: 7%;
    background-color: #fff;
    border-radius: 50%;
    font-size: 25px;
    box-shadow: 10px rgba(0, 0, 0, 0.307);
    cursor: pointer;
}